# Streamlit
streamlit==1.33.0

# PyTorch CPU wheels
torch==2.2.2
torchaudio==2.2.2

# Transformers stack
transformers==4.39.3
sentencepiece==0.1.99
accelerate==0.28.0   # good to have

# MusicGen
audiocraft==1.2.0
